@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Learn about <a href="https://localhost:7271/Home/Time">Cinar geyik akılda kalanlar</a>.</p>
</div>
